# See https://help.github.com/ignore-files/ for more about ignoring files.

# support files
brand/support
docs/support
illustrations/support
logo/support
meta/support
meta-brand/support
meta-flow-diagram/support
meta-icons/support
meta-ui-sketch-library/support
social/support
templates/support
universe.engineering/support