# See https://help.github.com/ignore-files/ for more about ignoring files.

# Support and design inspiration files
brand/support-hidden
events/09-19-fintium-fintech-challenge/support-hidden
illustrations/support-hidden
newsletter/local
social/support
universe.engineering/support-hidden